<table>
    <tr>
        <th>Csp Status</th>
        <td>
            <%=csp %>
        </td>
    </tr>
    <tr>
        <th>Header</th>
        <td>
            <%=header %>
        </td>
    </tr>
    </table>