<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testbed</title>
    <link rel="stylesheet" href="css/style1.css">
</head>

<body>
    <h1> Testbed</h1>
    <hr>
    <p>
        <b> What is Test Bed?</b>
        The test execution environment configured for testing. Test bed consists of specific hardware, software,
        Operating system,
        network configuration, the product under test, other system software and application software.
    </p>
    <p>
        <b>Test Bed Configuration:</b>
        It is the combination of hardware and software environment on which the tests will be executed.
        It includes hardware configuration, operating system settings, software configuration, test terminals
        and other support to perform the test.
    </p>
    <a href="/csp">CSP</a>
    <p><a href="/iframe/iframe">iframe</a></p>
    <p><a href="/input">input</a></p>
    <p><a href="/javascript">javascript</a></p>
    <p><a href="/keyboard">keyboard</a></p>
    <p><a href="/media">Media</a></p>
    <p><a href="/form">formsubmit</a></p>
    <p><a href="/workers">Workers</a></p>
    
    
    

</body>

</html>