body
{
    position:absolute;
}
#inputformtable,tr,th,td
{
    border: 1px solid black;
    border-collapse: collapse;

}

#inputformtable
{
    width:50%;
}

p
{
    font-size:20px;
}
#logoutbtn
{
    position: absolute;
    right:0;
    top:0;
}
