<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Csp Content Security Policy</h1>
    <ul>
    <li><a href="/csp/scriptsrc">Scriptsrc</a>
   <li> <a href="/csp/fontsrc">Fontsrc</a></li>
    <li><a href="/csp/framesrc">Framesrc</a></li>
    <li><a href="/csp/imgsrc">Imgsrc</a></li>
    <li><a href="/csp/mediasrc">MediaSrc</a></li>
    <li><a href="/csp/objectsrc">Objectsrc</a></li>
    <li><a href="/csp/sandbox">Sandbox</a></li>
    <li><a href="/csp/formaction">formaction</a></li>
    <li><a href="/csp/reportonly">reportonly</a></li>
    <li><a href="/csp/workersrc">workersrc</a></li>
    <li><a href="/csp/frameancestors">frameancestors</a></li>
    <li><a href="/csp/stylesrc">stylesrc</a></li>
    <li><a href="/csp/navigateto">navigateto</a></li>
   </ul>
</body>
</html>