<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/header") %>
     <title>objectsrc</title>
</head>
<body>
    <h1>Object src</h1>
    

  <br>
    <% if(csp=="" ) { %>
        <a class="btn btn-primary" href="objectsrc/dir/?dir=objectsrc&csp=off" target="_blank">Withoutcsp</a>
        <a class="btn btn-primary" href="objectsrc/dir/?dir=objectsrc&csp=on" target="_blank">Withcsp</a>
        <% }else{ %>
        
        
        <object data="/cspdir.html" width="800px" height="300px"></object>
          <% } %>
            <%if(csp=="on") { %>
                <%- include("../partials/violationevent") %>
                <% } %>
</body>
</html>