<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reportonly</title>
  <%- include("../partials/header") %>
</head>

<body>
  <h1>Form Action</h1>
  <br>
  <% if(csp=="" ) { %>
    <a class="btn btn-primary" href="reportonly/dir/?dir=reportonly&csp=off" target="_blank">Withoutcsp</a>
    <a class="btn btn-primary" href="reportonly/dir/?dir=reportonly&csp=on" target="_blank">Withcsp</a>
    <% } else{ %>
      <%= header %>
        <%= csp %>


          <form action="javascript:alert(1)" id="form1" method="post">
            <input type="text" name="fieldName" value="fieldValue">
            <input type="submit" id="submit" value="submit">
          </form>
          <% } %>

            <%if(csp=="on") { %>


              <script>
                if ('SecurityPolicyViolationEvent' in window) { // Check browser support of SecurityPolicyViolationEnevt interface
                  console.log("Security Policy event Supported");
                  window.addEventListener('securitypolicyviolation', function (e) { // Add SecurityPolicyViolation enevt handler

                  });
                }
                else
                  consoloe.log("Security Policy event  not Supported");
              </script>

              <% } %>
                <%if(csp=="on") { %>
                  <%- include("../partials/violationevent") %>
                    <% } %>
</body>

</html>